<section
    class="auth-page-wrapper position-relative bg-light min-vh-100 d-flex align-items-center justify-content-between" style="background: linear-gradient(to top, #80ee2d, rgba(210, 250, 206, 0.972));">
    <!-- Header -->
    <app-login-header></app-login-header>

    <div class="w-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="auth-card mx-lg-3">
                        <div class="card border-0 mb-0">
                            <div class="card-header " style="display: flex; justify-content: center;">
                                <img src="assets/images/logoInCupSinFondo.png" style="width: 18%;">
                            </div>
                            <div class="card-body">
                                <p class=" fs-15 poppins-bold text-center" >Inicia Sesión a InCup</p>
                                <div class="p-2">
                                    <form [formGroup]="formularioSesion" (ngSubmit)="enviarFormulario()">
                                        <div class="mb-3">
                                            <label for="username" class="form-label poppins-regular">Usuario</label>
                                            <input formControlName="usuario" type="text" class="form-control poppins-regular" id="username"
                                                placeholder="Enter username" />
                                        </div>

                                        <div class="mb-3">
                                            <!-- <div class="float-end">
                                                <a routerLink="/auth/pass-reset-basic" class="text-muted">Forgot
                                                    password?</a>
                                            </div> -->
                                            <label class="form-label" for="password-input poppins-regular">Contraseña</label>
                                            <div class="position-relative auth-pass-inputgroup mb-3">
                                                <input type="password" [type]="fieldTextType ? 'text' : 'password'"
                                                    class="form-control bg-light border-light pe-5 password-input poppins-regular "
                                                    placeholder="Enter password" id="password-input" required formControlName="password">
                                                <button
                                                    
                                                    type="button" id="password-addon"><i class="align-middle" [ngClass]="{'ri-eye-off-fill': !fieldTextType, 'ri-eye-line': fieldTextType
                                                }" (click)="toggleFieldTextType()"></i></button>
                                            </div>
                                        </div>

                                        <!-- <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="auth-remember-check" />
                                            <label class="form-check-label" for="auth-remember-check">Remember
                                                me</label>
                                        </div> -->

                                        <div class="mt-4">
                                            <button [disabled]="formularioSesion.invalid" class="btn bg-Azul w-100 poppins-regular" type="submit">Inicia Sesión</button>
                                        </div>

                                        <!-- <div class="mt-4 pt-2 text-center">
                                            <div class="signin-other-title">
                                                <h5 class="fs-13 mb-4 title">Sign In with</h5>
                                            </div>
                                            <div class="pt-2 hstack gap-2 justify-content-center">
                                                <button type="button" class="btn btn-soft-primary btn-icon"><i
                                                        class="ri-facebook-fill fs-16"></i></button>
                                                <button type="button" class="btn btn-soft-danger btn-icon"><i
                                                        class="ri-google-fill fs-16"></i></button>
                                                <button type="button" class="btn btn-soft-dark btn-icon"><i
                                                        class="ri-github-fill fs-16"></i></button>
                                                <button type="button" class="btn btn-soft-info btn-icon"><i
                                                        class="ri-twitter-fill fs-16"></i></button>
                                            </div>
                                        </div> -->
                                        <div *ngIf="respuesta" class="mt-3 alert alert-info">
                                            {{ respuesta }}
                                        </div>
                                    </form>

                                    <!-- <div class="text-center mt-5">
                                        <p class="mb-0">No tienes una cuenta <a routerLink="/auth/signup-basic"
                                                class="fw-semibold text-secondary text-decoration-underline">Crear Cuenta</a>
                                        </p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <!-- Footer -->
        <app-login-footer></app-login-footer>
    </div>
</section>