<!-- Header -->
<app-header></app-header>

<section class="ecommerce-about " style="background: linear-gradient(to top, #80ee2d, rgba(210, 250, 206, 0.972));" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="text-center">
                    <h1 class="text-white poppins-bold">Contáctanos</h1>
                    <p class="fs-16 mb-0 text-white-75 poppins-regular">Comencemos algo grande juntos. ¡Ponte en contacto con uno de nuestros miembros del equipo hoy!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 datos" style="background-image: url('assets/images/ecommerce/imgContactanos.jpg');">
                <div class="card border border-opacity-25 transparent-card">
                    <div class="card-body p-4 transparent-card-body">
                        <div class="d-flex" style="background-color: transparent;">
                            <img src="assets/images/ecommerce/ubicacion.png" style="width: 50%; height: 50%;">
                            <div class="ms-3 flex-grow-1">
                                <h5 style="color: white;"  class="fs-17 lh-base mb-2 poppins-bold">Nuestras Oficinas</h5>
                                <p style="color: white;" class=" fs-14 mb-0 poppins-regular">Mariano Matamoros 9, Pueblosan Miguel Chalma, 54140 Tlalnepantla, Méx.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border border-opacity-25 transparent-card">
                    <div class="card-body p-4 transparent-card-body">
                        <div class="d-flex" style="background-color: transparent;">
                            <img src="assets/images/ecommerce/telefono.png" style="width: 21%; height: 21%;">
                            <div class="ms-3 flex-grow-1">
                                <h5 style="color: white;"  class="fs-17 lh-base mb-2 poppins-bold">Numero de Telefono</h5>
                                <p style="color: white;" class=" fs-14 mb-0 poppins-regular">+55 5920 2253</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border border-opacity-25 transparent-card">
                    <div class="card-body p-4 transparent-card-body">
                        <div class="d-flex" style="background-color: transparent;">
                            <img src="assets/images/ecommerce/mail.png" style="width: 21%; height: 21%;">
                            <div class="ms-3 flex-grow-1">
                                <h5 style="color: white;"  class="fs-17 lh-base mb-2 poppins-bold">Email</h5>
                                <p style="color: white;" class=" fs-14 mb-0">ventas.incup&#64;gmail</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- <div class="card border border-opacity-25">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="avatar-sm flex-shrink-0">
                                <div class="avatar-title bg-success-subtle text-success rounded fs-17">
                                    <i class="bi bi-newspaper"></i>
                                </div>
                            </div>
                            <div class="ms-3 flex-grow-1">
                                <h5 class="fs-17 lh-base mb-2">Fax</h5>
                                <p class="text-muted fs-14 mb-0">1-234-567-8900</p>
                            </div>
                        </div>
                    </div>
                </div> -->
        
            </div>

            <div class="col-lg-8">
                <div class="custom-form card p-4 p-lg-5">
                    <form [formGroup]="formCorreo" (ngSubmit)="mandarFormulario()">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center mb-4">
                                    <h3 class="text-capitalize poppins-bold">Comunícate con nosotros para más información.</h3>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mt-3">
                                    <label for="name" class="form-label">Nombre<span class="text-danger">*</span></label>
                                    <input name="name" formControlName="name" id="name" type="text" class="form-control" placeholder="Escribe tu nombre" />
                                    <div *ngIf="formCorreo.get('name')?.invalid && formCorreo.get('name')?.touched" class="text-danger">
                                        Nombre es requerido.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mt-3">
                                    <label for="email" class="form-label">Email<span class="text-danger">*</span></label>
                                    <input name="email" formControlName="email" id="email" type="email" class="form-control" placeholder="Escribe tu correo" />
                                    <div *ngIf="formCorreo.get('email')?.invalid && formCorreo.get('email')?.touched" class="text-danger">
                                        Correo es requerido y debe ser un correo válido.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mt-3">
                                    <label for="tel" class="form-label">tel<span class="text-danger">*</span></label>
                                    <input name="tel" formControlName="tel" id="tel" type="text" class="form-control" placeholder="Escribe tu correo" />
                                    <div *ngIf="formCorreo.get('tel')?.invalid && formCorreo.get('tel')?.touched" class="text-danger">
                                        El teléfono es requerido
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mt-3">
                                    <label for="asunto" class="form-label">Tema<span class="text-danger">*</span></label>
                                    <input formControlName="asunto" type="text" class="form-control" id="asunto" placeholder="Tema..." />
                                    <div *ngIf="formCorreo.get('asunto')?.invalid && formCorreo.get('asunto')?.touched" class="text-danger">
                                        Asunto es requerido.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mt-3">
                                    <label for="message" class="form-label">Mensaje<span class="text-danger">*</span></label>
                                    <textarea  formControlName="message"  rows="4" class="form-control" placeholder="Escribe tu mensaje..."></textarea>
                                    <div *ngIf="formCorreo.get('message')?.invalid && formCorreo.get('message')?.touched" class="text-danger">
                                        Mensaje es requerido.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="text-end mt-4">
                                    <button type="submit" id="submit" name="submit" class="btn btn-gray">
                                        Enviar Mensaje 
                                        <div *ngIf="EnviarCorreo" class="spinner-border spinner-border-sm ms-2" role="status">
                                            <span class="sr-only"></span>
                                        </div>
                                        <!-- <i class="bi bi-arrow-right-short align-middle fs-16 ms-1"></i> -->
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid px-0">
        <div class="row g-0">
            <div class="col-lg-12">
                <div class="map">
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3024.4645962375394!2d-74.01354043428768!3d40.7077878458095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sSoHo%2094%20Broadway%20St%20New%20York%2C%20NY%201001!5e0!3m2!1sen!2sin!4v1669110084163!5m2!1sen!2sin" class="w-100" height="400" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.741827335259!2d-96.11553637402601!3d19.162775099241152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c34126eb443a35%3A0x7b51d523c8159a97!2sFacultad%20de%20Ingenieria%20UV!5e0!3m2!1ses-419!2smx!4v1728854090764!5m2!1ses-419!2smx" class="w-100" height="400" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3759.879860503112!2d-99.15635785912347!3d19.54677077892003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f799d722083d%3A0xf24e18dab9862e40!2sMariano%20Matamoros%209%2C%20Pueblosan%20Miguel%20Chalma%2C%2054140%20Tlalnepantla%2C%20M%C3%A9x.!5e0!3m2!1ses!2smx!4v1732212300567!5m2!1ses!2smx" class="w-100" height="400" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<app-footer></app-footer>