<!-- Header -->
<app-header></app-header>

<section class="ecommerce-about bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center">
                    <h1 class="text-white mb-0">Preguntas Frecuentes</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-light justify-content-center mt-4 fs-15">
                            <li class="breadcrumb-item active" aria-current="page">Faq's</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="text-center">
                    <h3>¿Tienes alguna pregunta?</h3>
                    <!-- <p class="text-muted mb-4">You can ask anything you want to know about Feedback.</p>
                    <div class="hstack flex-wrap gap-2 justify-content-center">
                        <button type="button" class="btn btn-primary btn-label rounded-pill"><i class="ri-mail-line label-icon align-middle rounded-pill fs-16"></i> Email Us</button>
                        <button type="button" class="btn btn-info btn-label rounded-pill"><i class="ri-twitter-line label-icon align-middle rounded-pill fs-16"></i> Send Us Tweet</button>
                    </div> -->
                </div>
            </div>
        </div>
        <!--end row-->

        <div class="row mt-5">
            <div class="col-lg-4 col-md-6">
                <div class="card text-center mt-4 position-relative">
                    <div class="card-body">
                        <div class="avatar-md mx-auto mb-4">
                            <div class="avatar-title bg-success-subtle text-success rounded-circle h1 m-0">
                                <i class="bi bi-box-seam"></i>
                            </div>
                        </div>
                        <h5 class="fs-16 mb-3"><a href="javascript:void(0);" class="text-body stretched-link">Orden</a></h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card text-center mt-4">
                    <div class="card-body">
                        <div class="avatar-md mx-auto mb-4">
                            <div class="avatar-title bg-success-subtle text-success rounded-circle h1 m-0">
                                <i class="bi bi-cash-coin"></i>
                            </div>
                        </div>
                        <h5 class="fs-16 mb-3"><a href="javascript:void(0);" class="text-body stretched-link">Pagos</a></h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card text-center mt-4">
                    <div class="card-body">
                        <div class="avatar-md mx-auto mb-4">
                            <div class="avatar-title bg-success-subtle text-success rounded-circle h1 m-0">
                                <i class="bi bi-truck"></i>
                            </div>
                        </div>
                        <h5 class="fs-16 mb-3"><a href="javascript:void(0);" class="text-body stretched-link">Envios</a></h5>
                    </div>
                </div>
            </div>
<!-- 
            <div class="col-lg-3 col-md-6">
                <div class="card text-center mt-4">
                    <div class="card-body">
                        <div class="avatar-md mx-auto mb-4">
                            <div class="avatar-title bg-success-subtle text-success rounded-circle h1 m-0">
                                <i class="bi bi-bag-dash"></i>
                            </div>
                        </div>
                        <h5 class="fs-16 mb-3"><a href="javascript:void(0);" class="text-body stretched-link">Returns</a></h5>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="row gy-4 justify-content-center mt-2">
            <div class="col-xxl-8 col-lg-8">
                <div>
                    <div class="mb-4">
                        <h5 class="fs-16 mb-0 fw-semibold">Preguntas Generales</h5>
                    </div>

                    <p-accordion collapseIcon="mdi mdi-chevron-up" expandIcon="mdi mdi-chevron-down" [activeIndex]="0">
                        <p-accordionTab styleClass="accordion-item" iconPos="end">
                            <ng-template pTemplate="header" headerStyleClass="accordion-header" id="genques-headingOne">
                                <button class="accordion-button" type="button">
                                    ¿Qué tipo de productos ofrecen?
                                </button>
                            </ng-template>
                            <ng-template pTemplate="content" class="accordion-body">
                                <div class="accordion-body">
                                    Ofrecemos una amplia gama de productos desechables para la <b>industria de alimentos y bebidas</b>, incluyendo vasos, contenedores, tapas y otros insumos. Nuestros productos son <b>ideales para bebidas frías y calientes</b>, así como para alimentos de consumo rápido.

                                </div>
                            </ng-template>
                        </p-accordionTab>

                        <p-accordionTab header="¿Cuáles son las opciones de personalización para los vasos y contenedores?" iconPos="end">
                            <div>
                                Podemos personalizar tus productos con el <b>diseño o logotipo de tu marca</b>, aplicando diferentes técnicas de serigrafía y asegurando una <b>alta calidad de impresión</b>. Trabajamos con una variedad de tamaños y estilos de productos para adaptarnos a tus necesidades.
                            </div>
                        </p-accordionTab>

                        <p-accordionTab header="¿Puedo pedir un diseño personalizado en cualquier tipo de vaso o contenedor?" iconPos="end">
                            <div>
                                Sí, ofrecemos personalización en la mayoría de nuestros productos. Si tienes en mente un artículo específico, contáctanos para confirmar la disponibilidad y opciones de personalización.
                            </div>
                        </p-accordionTab>

                        <p-accordionTab header="¿Cuál es la cantidad mínima de productos para un pedido personalizado?" iconPos="end">
                            <div>
                                La cantidad mínima de productos varía según el tipo de producto y la complejidad del diseño. Por lo general, los pedidos personalizados requieren un mínimo de 3000 unidades.
                            </div>
                        </p-accordionTab>

                        <p-accordionTab header="¿Ofrecen ayuda para diseñar el arte o logo en el producto?" iconPos="end">
                            <div>
                                No
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="¿Cómo solicito una cotización?" iconPos="end">
                            <div>
                                Puedes solicitar una cotización a través de nuestro <b>contacto en la web, enviándonos un correo electrónico o comunicándote con nosotros por teléfono</b>. Asegúrate de incluir detalles como el tipo de producto, cantidad, y diseño deseado para que podamos ofrecerte una cotización precisa.
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="¿Cuánto tiempo se tarda en recibir una cotización?" iconPos="end">
                            <div>
                                Normalmente respondemos a las solicitudes de cotización en un plazo <b>de 1 a 2 días hábiles</b>. Nuestro equipo se asegurará de brindarte toda la información necesaria para tomar una decisión informada.
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="¿Cómo puedo realizar un pedido?" iconPos="end">
                            <div>
                                Una vez que tengas la cotización y estés listo para proceder, contáctanos para confirmar el pedido y detallar el proceso de pago. Una vez confirmado el pago inicial, comenzaremos con el proceso de producción.
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="¿Se pueden hacer cambios en el pedido una vez confirmado?" iconPos="end">
                            <div>
                                Si necesitas realizar algún cambio en tu pedido, te recomendamos contactarnos lo antes posible. Una vez que el proceso de producción haya comenzado, los cambios pueden estar sujetos a costos adicionales.
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="¿Tienen precios especiales para pedidos al por mayor?" iconPos="end">
                            <div>
                                Sí, ofrecemos precios especiales y descuentos para pedidos al por mayor. Contáctanos para obtener más información y cotizar según tus necesidades específicas.
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="¿Puedo solicitar muestras antes de hacer un pedido grande?" iconPos="end">
                            <div>
                                Sí, ofrecemos muestras de nuestros productos. Estas pueden ser genéricas o, en algunos casos, personalizadas. Consulta con nuestro equipo sobre las opciones y los costos de las muestras.
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="¿Ofrecen descuentos por volumen o promociones especiales?" iconPos="end">
                            <div>
                                Sí, contamos con descuentos por volumen y promociones ocasionales en productos específicos. Revisa nuestra página de promociones o contáctanos para saber si tu pedido califica para algún descuento.
                            </div>
                        </p-accordionTab>
                        
                    </p-accordion>
                    <!--end accordion-->
                </div>
            </div>
            <!--end col-->
        </div>
    </div>
    <!--end container-->
</section>

<section class="section" style="background-image: url('assets/images/ecommerce/vasosTransparentes.jpg'); background-size: cover; background-position: center;">
    <div class="bg-overlay bg-secondary" style="opacity: 0.85;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-sm-flex align-items-center">
                    <h2 class="text-white text-capitalize mb-0 flex-grow-1">Dejanos saber como te podemos ayudar</h2>
                    <div class="flex-shrink-0 mt-3 mt-sm-0">
                        <a routerLink="/extrapages/contact-us" class="btn btn-darken-secondary btn-hover"><i class="ph-phone align-middle me-1"></i>Contactanos</a>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>

<!-- Footer -->
<app-footer></app-footer>