<section
    class="auth-page-wrapper position-relative bg-light min-vh-100 d-flex align-items-center justify-content-between">
    <!-- Header -->
    <app-login-header></app-login-header>

    <div class="w-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="auth-card mx-lg-3">
                        <div class="card border-0 mb-0">
                            <div class="card-header bg-primary border-0">
                                <div class="row">
                                    <div class="col-lg-4 col-3">
                                        <img src="assets/images/auth/img-1.png" alt="" class="img-fluid" />
                                    </div>
                                    <div class="col-lg-8 col-9">
                                        <h1 class="text-white text-capitalize lh-base fw-lighter">Comencemos con
                                            InCup Store</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="text-muted fs-15">Obtén tu cuenta gratuita de InCup ahora</p>
                                <div class="p-2">
                                    <form class="needs-validation" novalidate>
                                        <div class="mb-3">
                                            <label for="useremail" class="form-label">Correo Electrónico <span
                                                    class="text-danger">*</span></label>
                                            <input type="email" class="form-control" id="useremail"
                                                placeholder="Ingresa tu correo electrónico" required />
                                            <div class="invalid-feedback">
                                                Por favor ingresa tu correo electrónico
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="username" class="form-label">Usuario <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="username"
                                                placeholder="Ingresa tu nombre de usuario" required />
                                            <div class="invalid-feedback">
                                                Por favor ingresa tu nombre de usuario
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="password-input">Contraseña</label>
                                            <div class="position-relative auth-pass-inputgroup">
                                                <input type="password" [type]="fieldTextType ? 'text' : 'password'"
                                                        class="form-control bg-light border-light pe-5 password-input "
                                                        placeholder="Ingresa tu contraseña" id="password-input" required>
                                                <button
                                                    class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                                    type="button" id="password-addon"><i class="align-middle" [ngClass]="{'ri-eye-off-fill': !fieldTextType, 'ri-eye-line': fieldTextType
                                                    }" (click)="toggleFieldTextType()"></i></button>
                                                <div class="invalid-feedback">
                                                    Por favor ingresa tu contraseña
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-4">
                                            <p class="mb-0 fs-12 text-muted fst-italic">
                                                Al registrarte aceptas los <a href="javascript:void(0);"
                                                    class="text-primary text-decoration-underline fst-normal fw-medium">Términos
                                                    de Uso</a> de InCup
                                            </p>
                                        </div>

                                        <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                                            <h5 class="fs-13">La contraseña debe contener:</h5>
                                            <p id="pass-length" class="invalid fs-12 mb-2">Mínimo <b>8 caracteres</b>
                                            </p>
                                            <p id="pass-lower" class="invalid fs-12 mb-2">Al menos una letra <b>minúscula</b>
                                                (a-z)</p>
                                            <p id="pass-upper" class="invalid fs-12 mb-2">Al menos una letra <b>mayúscula</b>
                                                (A-Z)</p>
                                            <p id="pass-number" class="invalid fs-12 mb-0">Al menos un <b>número</b> (0-9)
                                            </p>
                                        </div>

                                        <div class="mt-4">
                                            <button  class="btn btn-primary w-100" type="submit">Registrarse</button>
                                        </div>

                                        <!-- <div class="mt-4 text-center">
                                            <div class="signin-other-title">
                                                <h5 class="fs-13 mb-4 title text-muted">Create account with</h5>
                                            </div>

                                            <div>
                                                <button type="button" class="btn btn-soft-primary btn-icon me-1"><i
                                                        class="ri-facebook-fill fs-16"></i></button>
                                                <button type="button" class="btn btn-soft-danger btn-icon me-1"><i
                                                        class="ri-google-fill fs-16"></i></button>
                                                <button type="button" class="btn btn-soft-dark btn-icon me-1"><i
                                                        class="ri-github-fill fs-16"></i></button>
                                                <button type="button" class="btn btn-soft-info btn-icon me-1"><i
                                                        class="ri-twitter-fill fs-16"></i></button>
                                            </div>
                                        </div> -->
                                    </form>
                                </div>
                                <div class="mt-4 text-center">
                                    <p class="mb-0">¿Ya tienes una cuenta? <a routerLink="/auth/signin-basic"
                                            class="fw-semibold text-primary text-decoration-underline"> Iniciar Sesión </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <!-- Footer -->
        <app-login-footer></app-login-footer>
    </div>
</section>