<!-- header -->
<app-header></app-header>

<section class="term-condition bg-primary" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center">
                    <h1 class="text-white mb-2">Proceso de Compra</h1>
                    <!-- <p class="text-white-75 mb-0">Last Updated 24 Nov, 2022</p> -->
                </div>
            </div>
        </div>
    </div>
</section>

<div class="position-relative">
    <div class="svg-shape">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="1440" height="120" preserveAspectRatio="none" viewBox="0 0 1440 120">
            <g mask='url("#SvgjsMask1039")' fill="none">
                <rect width="1440" height="120" x="0" y="0" fill="var(--tb-primary)"></rect>
                <path d="M 0,85 C 288,68.8 1152,20.2 1440,4L1440 120L0 120z" fill="var(--tb-body-bg)"></path>
            </g>
            <defs>
                <mask id="SvgjsMask1039">
                    <rect width="1440" height="120" fill="#ffffff"></rect>
                </mask>
            </defs>
        </svg>
    </div>
</div>

<section class="section pt-0">
    <div class="container">
        <div class="card term-card mb-0">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="fs-18 mb-3">Cotiza</h5>
                        <div class="d-flex gap-2 mb-2">
                            <div class="flex-shrink-0">
                                <i class="ri-flashlight-fill text-primary fs-15"></i>
                            </div>
                            <p class="text-muted fs-15 flex-grow-1 mb-0">
                                Envía un mensaje mediante WhatsApp o correo electrónico especificando los productos que requiera cotizar y uno de nuestros vendedores le dará una atención personalizada dependiendo a sus necesidades.
                                Cualquier producto que no este en nuestra pagina o catalogo  puede preguntar para conseguirlo.
                                Tiempo de entrega de productos genéricos y de línea es de 72hs a partir de las primeras 24hrs hábiles.
                            </p >
                            
                        </div>
                        <!-- <ul class="text-muted vstack gap-2 fs-15 ps-5" style="list-style-type: circle;">
                            <li>
                                Name
                            </li>
                            <li>
                                Age
                            </li>
                            <li>
                                Date of birth
                            </li>
                            <li>
                                Current career
                            </li>
                            <li>
                                Mobile phone numbers
                            </li>
                            <li>
                                Email address
                            </li>
                            <li>
                                Hobbies & interests
                            </li>
                            <li>
                                Social profiles
                            </li>
                        </ul> -->

                        <h5 class="fs-18 my-3">🎨Impresión</h5>
                        <div class="d-flex gap-2 mb-2">
                            <div class="flex-shrink-0">
                                <i class="ri-flashlight-fill text-primary fs-15"></i>
                            </div>
                            <p class="text-muted fs-15 flex-grow-1 mb-0">● Serigrafia: Personalización en serigrafia se empieza a trabajar con el deposito del 50% a manera de anticipo, el pago total de la placa, aprobación del arte virtual y OC entregada a taller

                                Mínimos de impresión 1 millar, si el producto tiene menor cantidad requerida por taller se cobraran 1000 piezas
                                
                                tiempo de entrega: 15 a 20 días hábiles. <br><br>

                                ● Suajes:  <br>- De línea: 28 a 35 días hábiles después de la autorización del arte virtual
                                Mínimos de impresión depende de el producto que requiera. <br>
                                              
                                                       - Especiales (medidas especificas): 35 a 40 días hábiles después de la autorización del arte virtual
                                Mínimo de impresión de 6 millares.
                                 

                        </div>
                        <!-- <ul class="text-muted vstack gap-2 fs-15 ps-5" style="list-style-type: circle;">
                            <li>
                                Search
                            </li>
                            <li>
                                Items
                            </li>
                            <li>
                                Product Selection Tree
                            </li>
                            <li>
                                Clusters
                            </li>
                            <li>
                                Aggregates
                            </li>
                        </ul> -->

                        <h5 class="fs-18 my-3">📦 Entregas</h5>
                        <div class="d-flex gap-2 mb-2">
                            <div class="flex-shrink-0">
                                <i class="ri-flashlight-fill text-primary fs-15"></i>
                            </div>
                            <p class="text-muted fs-15 flex-grow-1 mb-0">
                                Entregas locales: factura liquidada, entrega sin costo en CDMX y área metropolitana con el mínimo de compra de $10,000 pesos, entrega a domicilio costo extra de $350+IVA

                                entrega interior de la republica: factura liquidada, envíos por cobrar en paqueterías sugeridas con cotización del costo aproximado.
                            </p>
                        </div>

                        <!-- <ul class="text-muted vstack gap-2 fs-15 ps-5 mb-0" style="list-style-type: circle;">
                            <li>
                                Updated content on a regular basis
                            </li>
                            <li>
                                Secure & hassle-free payment
                            </li>
                            <li>
                                1-click checkout
                            </li>
                            <li>
                                Easy access & smart user dashboard
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <app-discount-footer [discount]="25"></app-discount-footer> -->

<app-features></app-features>

<!-- Footer -->
<app-footer></app-footer>