<!-- header -->
<app-header></app-header>

<section class="term-condition" style="background-image: url(assets/images/ecommerce/features/bannerProcesoDeCompra.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center">
                    <h1 class="text-white mb-2 poppins-bold">Proceso de Compra</h1>
                    <!-- <p class="text-white-75 mb-0">Last Updated 24 Nov, 2022</p> -->
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section pt-0">
    <div class="container">
        <div class="card term-card mb-0">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="fs-18 mb-3 poppins-bold color-azul-fuerte">Cotiza</h5>
                        <div class="d-flex gap-2 mb-2">
                            <div class="flex-shrink-0">
                                <i class="ri-flashlight-fill text-primary fs-15"></i>
                            </div>
                            <p class=" fs-15 flex-grow-1 mb-0 poppins-regular color-azul-fuerte">
                                Envía un mensaje mediante WhatsApp o correo electrónico especificando los productos que requiera cotizar y uno de nuestros vendedores le dará una atención personalizada dependiendo a sus necesidades.
                                Cualquier producto que no este en nuestra pagina o catalogo  puede preguntar para conseguirlo.
                                Tiempo de entrega de productos genéricos y de línea es de 72hs a partir de las primeras 24hrs hábiles.
                            </p >
                            
                        </div>
                        <!-- <ul class=" vstack gap-2 fs-15 ps-5" style="list-style-type: circle;">
                            <li>
                                Name
                            </li>
                            <li>
                                Age
                            </li>
                            <li>
                                Date of birth
                            </li>
                            <li>
                                Current career
                            </li>
                            <li>
                                Mobile phone numbers
                            </li>
                            <li>
                                Email address
                            </li>
                            <li>
                                Hobbies & interests
                            </li>
                            <li>
                                Social profiles
                            </li>
                        </ul> -->

                        <h5 class="fs-18 my-3 poppins-bold color-azul-fuerte">Impresión</h5>
                        <div class="d-flex gap-2 mb-2">
                            <div class="flex-shrink-0">
                                <i class="ri-flashlight-fill text-primary fs-15"></i>
                            </div>
                            <p class=" fs-15 flex-grow-1 mb-0 poppins-regular color-azul-fuerte"><strong>Serigrafia:</strong> Personalización en serigrafia se empieza a trabajar con el deposito del 50% a manera de anticipo, el pago total de la placa, aprobación del arte virtual y OC entregada a taller

                                Mínimos de impresión 1 millar, si el producto tiene menor cantidad requerida por taller se cobraran 1000 piezas
                                
                                tiempo de entrega: 15 a 20 días hábiles. <br><br>

                                <strong>Suajes:</strong>  <br>- De línea: 28 a 35 días hábiles después de la autorización del arte virtual
                                Mínimos de impresión depende de el producto que requiera. <br>
                                              
                                                       - Especiales (medidas especificas): 35 a 40 días hábiles después de la autorización del arte virtual
                                Mínimo de impresión de 6 millares.
                                 

                        </div>
                        <!-- <ul class=" vstack gap-2 fs-15 ps-5" style="list-style-type: circle;">
                            <li>
                                Search
                            </li>
                            <li>
                                Items
                            </li>
                            <li>
                                Product Selection Tree
                            </li>
                            <li>
                                Clusters
                            </li>
                            <li>
                                Aggregates
                            </li>
                        </ul> -->

                        <h5 class="fs-18 my-3 poppins-bold color-azul-fuerte"> Entregas</h5>
                        <div class="d-flex gap-2 mb-2">
                            <div class="flex-shrink-0">
                                <i class="ri-flashlight-fill text-primary fs-15"></i>
                            </div>
                            <p class=" fs-15 flex-grow-1 mb-0 poppins-regular color-azul-fuerte">
                                <strong>Entregas locales:</strong> factura liquidada, entrega sin costo en CDMX y área metropolitana con el mínimo de compra de $10,000 pesos, entrega a domicilio costo extra de $350+IVA

                                entrega interior de la republica: factura liquidada, envíos por cobrar en paqueterías sugeridas con cotización del costo aproximado.
                            </p>
                        </div>

                        <!-- <ul class=" vstack gap-2 fs-15 ps-5 mb-0" style="list-style-type: circle;">
                            <li>
                                Updated content on a regular basis
                            </li>
                            <li>
                                Secure & hassle-free payment
                            </li>
                            <li>
                                1-click checkout
                            </li>
                            <li>
                                Easy access & smart user dashboard
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section py-0">
    <div class="container-fluid container-custom">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-content text-center mb-5 pb-3">
                    <h2  class="title fw-normal color-azul-fuerte poppins-semibold"><span class="poppins-semibold">¿Por qué <span class="fw-semibold poppins-semibold">comprar</span > con nosotros?</span></h2>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-lg-3">
                <div class="card border-0 text-center">
                    <div class="card-body">
                        <div class="avatar-md mx-auto mb-4">
                            <div class="avatar-title text-reset fs-2 rounded-circle">
                                <img src="assets\images\ecommerce\home\ProductoCalidad.png" style="width: 100%;">
                            </div>
                        </div>
                        <h5 class="color-azul-fuerte poppins-bold">Productos de Calidad</h5>
                        <p class="text-muted mb-0 color-azul-fuerte poppins-regular">Nuestros productos satisfacen las necesidades de los clientes y cumplen con los estándares de la industria</p>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-3">
                <div class="card border-0 text-center">
                    <div class="card-body">
                        <div class="avatar-md mx-auto mb-4">
                            <div class="avatar-title text-reset fs-2 rounded-circle">
                                <img src="assets\images\ecommerce\home\enviosRapidos.png" style="width: 100%;">
                            </div>
                        </div>
                        <h5 class="color-azul-fuerte poppins-bold">Rapido Envio</h5>
                        <p class="text-muted mb-0 color-azul-fuerte poppins-regular">
                            La forma más económica de enviar un paquete dependerá de factores como el tamaño y el peso del paquete, así como la distancia y la velocidad de entrega.</p>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-3">
                <div class="card border-0 text-center">
                    <div class="card-body">
                        <div class="avatar-md mx-auto mb-4">
                            <div class="avatar-title text-reset fs-2 rounded-circle">
                                <img src="assets\images\ecommerce\home\metodosDePago.png" style="width: 100%;">
                            </div>
                        </div>
                        <h5 class="color-azul-fuerte poppins-bold">Metodos de Pago seguros</h5>
                        <p class="text-muted mb-0 color-azul-fuerte poppins-regular">Contamos con formas de pago segura, para la protecion y privacidad de los clientes.</p>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-3">
                <div class="card border-0 text-center">
                    <div class="card-body">
                        <div class="avatar-md mx-auto mb-4">
                            <div>
                                <div class="avatar-title text-reset fs-2 rounded-circle">
                                   
                                    <img src="assets\images\ecommerce\home\EnviosNacionales.png" style="width: 100%;">
                                    
                                </div>
                            </div>
                        </div>  
                        <h5 class="color-azul-fuerte poppins-bold">Envios Nacionales</h5>
                        <p class="text-muted mb-0 color-azul-fuerte poppins-regular">Contamos con envios a toda la repulica Mexicana.</p>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-fluid-->
</section>

<!-- <app-discount-footer [discount]="25"></app-discount-footer> -->


<!-- Footer -->
<app-footer></app-footer>