.bg-color-azulFuerte{
    background-color: #00236F;
}

.bg-color-azulClaro{
    background-color: #9dceff;
}

.btn-azulClaro {
    background-color: #90c8ff; /* Color de fondo gris */
    border-color: #90c8ff; /* Color del borde gris */
    color: white; /* Color del texto */
}

.btn-azulClaro:hover {
    background-color: #68b4ff; /* Color de fondo gris más oscuro al pasar el ratón */
    border-color: #68b4ff; /* Color del borde gris más oscuro al pasar el ratón */
}