

<section
    class="auth-page-wrapper position-relative bg-light min-vh-100 d-flex align-items-center justify-content-between">
    <app-login-header></app-login-header>
    <div class="w-100"> 
        <div class="container">

           
            
            <div>
                <h1 class="text-center poppins-bold">Alta y Baja de productos</h1>
                <div class="head">
                    <button class="btn bt-gray boton poppins-regular" [routerLink]="['/auth/formulario']">+ Crear Producto</button>
                   
                    <div class="search-box poppins-regular">
                        <input type="text" pInputText class="form-control" id="searchProductList" autocomplete="off" placeholder="Buscar Producto..." (input)="buscarPalabra($event.target.value)" />
                        <i class="ri-search-line search-icon poppins-regular"></i>
                    </div>
                   
                </div>
                
            </div>

            

            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                        <th class="poppins-bold" style="font-size: x-large;" scope="col">id</th>
                        <th class="poppins-bold" style="font-size: x-large;"  scope="col">nombre</th>
                        <th class="poppins-bold" style="font-size: x-large;" scope="col">Img</th>
                        <th class="poppins-bold" style="font-size: x-large;"  scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of filtroProductos ">
                            <th class="poppins-regular" scope="row">{{producto.id}}</th>
                            <td class="poppins-regular">{{producto.name}}</td>
                            <td>
                                <img [src]="producto.img" alt="Imagen del producto" class="img-fluid" style="max-width: 100px;">
                            </td>
                            <td>
                                <button class="btn btn-link text-danger" (click)="eliminar(producto)">
                                    <i class="fas fa-trash-alt poppins-regular"></i> Eliminar
                                </button>
                                <button class="btn btn-link text-primary poppins-regular" [routerLink]="['/auth/formulario/', producto.id]">
                                    <i class="fas fa-edit"></i> Editar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <div>
                <h1 class="text-center">{{noHayProductos}}</h1>
            </div>
        </div>
    </div>

    <!-- <div>
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div> -->
   


</section>

<app-footer></app-footer>