.table-responsive {
    max-height: 400px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto;
}

.head{
    display: flex; 
    justify-content: space-between
}

@media (max-width:600px) {
    .head{
        display: block;
    }
    .boton{
        margin-bottom: 1rem;
    }

}

$gris: #858586;

.bt-gray{
    background-color: $gris;
    border-color:  $gris; /* Color del borde gris */
    color: white;
}


.bt-gray:hover{
    background-color: #606060;
    border-color: #606060; /* Color del borde gris */
}