<!-- Header -->
<app-header></app-header>

<section class="ecommerce-about" style="background-image: url(assets/images/ecommerce/features/bannerNosotros.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="effect d-none d-md-block">
        <div class="ecommerce-effect bg-primary"></div>
        <div class="ecommerce-effect bg-info"></div>
    </div>
    <div class="container estiloContenedor">
        <div class="row align-items-center" style="display: flex; justify-content: center;">
            <div class="col-lg-8 text-center">
                <h1 class="fw-bold mb-3 blanco poppins-bold">¿Quiénes somos?</h1>
                <p class="fs-16 mb-5 mb-lg-3 poppins-regular blanco">
                    En InCup, somos una empresa comercializadora comprometida con la responsabilidad social, especializada en la distribución de productos como vasos, 
                    contenedores e insumos diseñados para la industria foodservice. Nos dedicamos a ayudar a las marcas a destacar, ofreciendo soluciones personalizadas 
                    en envases desechables para alimentos y bebidas, adaptándonos tanto a pequeñas como grandes escalas. Nos especializamos en atender sectores clave, 
                    como hospitales y retail, así como en proporcionar productos eficientes para restaurantes de comida rápida y franquicias, garantizando una adaptabilidad 
                    excepcional a las necesidades específicas de cada cliente. Nuestro objetivo es proporcionar productos que combinen calidad, funcionalidad y diseño, respaldados 
                    por un servicio eficiente y dedicado a superar las expectativas de nuestros clientes.
                </p>
            </div>
            <!-- <div class="col-lg-6">
                <div>
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="position-relative">
                                <img src="assets/images/ecommerce/img-4.jpg" alt="" class="img-fluid rounded" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="vstack gap-4">
                                <img src="assets/images/ecommerce/img-1.jpg" alt="" class="img-fluid rounded" />
                                <img src="assets/images/ecommerce/img-3.jpg" alt="" class="img-fluid rounded" />
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<div class="ecommerce-about-cta" style="background-color: #75C339;">
    <div class="container " >
        <div class="row" style="padding-top: 3rem; padding-bottom: 3rem;">
            <div class="col-lg-6">
                <div class="card card-animate " style="border: 3px solid rgb(255, 255, 255); background-color: #75C339 ;">
                    <div class="card-body" >
                        <!-- <lord-icon src="https://cdn.lordicon.com/fcoczpqi.json" trigger="hover" target="div" style="width: 70px; height: 70px;"> </lord-icon> -->
                        <h5 class=" mt-2 blanco poppins-bold" style="font-size: 2rem;">25,000+ Clientes Felices.</h5>
                        <p class="blanco poppins-regular">La felicidad del cliente va más allá de la satisfacción del cliente al crear una conexión emocional con la marca.</p>
                        <div>
                            <!-- <a href="javascript:void(0);" class="link-effect link-primary">Read More <i class="bi bi-arrow-right ms-2"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-animate" style="border: 3px solid rgb(255, 255, 255); background-color: #75C339 ;">
                    <div class="card-body" >
                        <!-- <lord-icon src="https://cdn.lordicon.com/hbwqfgcf.json" trigger="hover" target="div" style="width: 70px; height: 70px;"> </lord-icon> -->
                        <h5 class=" mt-2 blanco poppins-bold" style="font-size: 2rem;">Más de 6 años de experiencia.</h5>
                        <p class="blanco poppins-regular">Los años de experiencia que enumeras en tu currículum representan la experiencia laboral que tienes si tienes poca experiencia.</p>
                        <div>
                            <!-- <a href="javascript:void(0);" class="link-effect link-primary">Read More <i class="bi bi-arrow-right ms-2"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section mt-4" style="padding: 74px 0;">
    <div class="row align-items-center">
        <div class="col-lg-4">
            <div class="image-container">
                <img src="assets/images/ecommerce/features/bannerNosotros.jpg" alt="" class="img-fluid rounded w-100 d-block d-lg-none" />
                <img src="assets/images/ecommerce/features/imgQuienesSomos.jpg" alt="" class="img-fluid rounded w-100 d-none d-lg-block"  />
            </div>
        </div>
        <div class="col-lg-8 padding-telefono">
            <div class="mt-4 mt-lg-0 display-Flex margen-bajo" style="align-items: center;">
                <div class="col-lg-6 rounded-circle bg-green d-flex align-items-center justify-content-center marginLeftNegativo" style="width: 100px; height: 100px; margin-right: 1rem;">
                    <img src="assets/images/ecommerce/features/iconoOjo.png" style="max-width: 138%;">
                </div>
                <div>
                    <h2 class="lh-base fw-semibold mb-3 poppins-bold color-Azul">Visión</h2>
                    <p class=" fs-16 poppins-regular color-Azul">
                        Nuestra visión es convertirnos en una empresa líder a nivel nacional en la industria de artículos desechables para el sector alimenticio, 
                        destacándonos no solo por la calidad de nuestros productos, sino por ofrecer soluciones innovadoras y sostenibles. Queremos sobresalir por nuestros 
                        diseños personalizados en envases, el uso de materiales reciclables y biodegradables, y nuestra constante innovación en tecnologías amigables con el medio ambiente. 
                        Nos comprometemos a brindar una atención excepcional a nuestros clientes, asegurando que cada interacción sea una experiencia que refuerce nuestra relación de 
                        confianza y satisfacción.
                    </p>
                </div>
                
            </div>

            
            <div class="mt-4 mt-lg-0 display-Flex margen-bajo" style="align-items: center;">
                <div class="col-lg-6 rounded-circle bg-green d-flex align-items-center justify-content-center marginLeftNegativo" style="width: 100px; height: 100px; margin-right: 1rem;">
                    <img src="assets/images/ecommerce/features/banderaIcono.png" style="max-width: 100%;">
                </div>
                <div>
                    <h2 class="lh-base fw-semibold mb-3 poppins-bold color-Azul">Misión</h2>
                    <p class=" fs-16 poppins-regular color-Azul">
                        Nuestra misión es transformar cada marca en una experiencia única para nuestros clientes, destacando las fortalezas de cada producto y creando valor a través de una oferta 
                        diversa y de alta calidad. Nos enfocamos en ofrecer una experiencia que conecte con las necesidades y gustos de nuestros consumidores, a través de diseños innovadores 
                        y originales que los inspiren a elegirnos como su primera opción. Al ser multimarca, nos comprometemos a personalizar cada propuesta para garantizar que cada firma tenga un 
                        impacto significativo y memorable en quienes la eligen.

                    </p>
                </div>
            </div>

            <div class="mt-4 mt-lg-0 display-Flex margen-bajo" style="align-items: center;">
                <div class="col-lg-6 rounded-circle bg-green d-flex align-items-center justify-content-center marginLeftNegativo" style="width: 100px; height: 100px; margin-right: 1rem;">
                    <img src="assets/images/ecommerce/features/iconoEstrella.png" style="max-width: 100%;">
                </div>
                <div>
                    <h2 class="lh-base fw-semibold mb-3 poppins-bold color-Azul">Objetivo</h2>
                    <p class=" fs-16 poppins-regular color-Azul">
                        Nuestro objetivo es comercializar productos que logren un equilibrio óptimo entre las necesidades del consumidor, la calidad, el rendimiento, el precio y la conveniencia, 
                        siempre con un compromiso hacia la sostenibilidad ambiental. Nos enfocamos en promover marcas y productos de calidad superior que no solo respondan a las demandas actuales, 
                        sino que también generen un valor duradero en la vida de nuestros consumidores, tanto en el presente como en el futuro.

                    </p>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!-- 
<section class="ecommerce-about-team bg-light bg-opacity-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h2 class="mb-3">Expart Management Team</h2>
                    <p class="text-muted fs-15">An Expert Leader is first and foremost someone who has deep expertise in the area that they are leading.</p>
                </div>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-xl-3 col-md-6">
                <div class="team-box text-center">
                    <div class="team-img">
                        <img src="assets/images/users/avatar-7.jpg" alt="" class="img-fluid rounded rounded-circle border border-dashed border-dark border-opacity-25" />
                    </div>
                    <div class="mt-4 pt-1">
                        <a href="javascript:void(0);">
                            <h5>Rachael Larson</h5>
                        </a>
                        <p class="text-muted mb-0">Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="team-box text-center">
                    <div class="team-img">
                        <img src="assets/images/users/avatar-1.jpg" alt="" class="img-fluid rounded rounded-circle border border-dashed border-dark border-opacity-25" />
                    </div>
                    <div class="mt-4 pt-1">
                        <a href="javascript:void(0);">
                            <h5>Jennifer Thompson</h5>
                        </a>
                        <p class="text-muted mb-0">Sr. Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="team-box text-center">
                    <div class="team-img">
                        <img src="assets/images/users/avatar-2.jpg" alt="" class="img-fluid rounded rounded-circle border border-dashed border-dark border-opacity-25" />
                    </div>
                    <div class="mt-4 pt-1">
                        <a href="javascript:void(0);">
                            <h5>Amanda Rivera</h5>
                        </a>
                        <p class="text-muted mb-0">Marketing Executive</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="team-box text-center">
                    <div class="team-img">
                        <img src="assets/images/users/avatar-8.jpg" alt="" class="img-fluid rounded rounded-circle border border-dashed border-dark border-opacity-25" />
                    </div>
                    <div class="mt-4 pt-1">
                        <a href="javascript:void(0);">
                            <h5>Donald Schmidt</h5>
                        </a>
                        <p class="text-muted mb-0">Account Executive</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->



<!-- <section class="section " style="background-image: url('assets/images/profile-bg.jpg'); background-size: cover; background-position: center;" >
    <div class="bg-overlay bg-primary" style="opacity: 0.85;"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center">
                    <h1 class="text-white lh-base text-capitalize">No te pierdas nuestra ofertas especiales</h1>
                    <p class="text-white-75 fs-15 mb-4 pb-2">No te pierdas de nuestras promociones.</p>
                    <form action="#!">
                        <div class="position-relative ecommerce-subscript">
                            <input type="email" class="form-control rounded-pill border-0" placeholder="Enter your email" />
                            <button type="submit" class="btn btn-darken-primary rounded-pill">Subscript Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <app-features></app-features> -->


<!-- Footer -->
<app-footer></app-footer>