$azulFuerte: #00236F;

.color-azul-fuerte{
    color: $azulFuerte;
}

.outer-circle {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
    height: 150px; /* Ajusta el tamaño según tus necesidades */
    background-color: #75C339; /* Color de fondo del círculo exterior */
    border-radius: 50%; /* Hace que el div sea un círculo */
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle {
    width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: 100px; /* Ajusta el tamaño según tus necesidades */
    background-color: #ffffff; /* Color de fondo del círculo interior */
    border-radius: 50%; /* Hace que el div sea un círculo */
    display: flex;
    align-items: center;
    justify-content: center;
}


.custom-hr {
    border: 0;
    height: 2px; /* Ajusta esta altura según tus necesidades */
    background: rgb(115, 183, 13); /* Color de la línea */
    margin-right: 13rem;
    margin-left: 13rem;
}

.btn-gray {
    background-color: #6c757d; /* Color de fondo gris */
    border-color: #6c757d; /* Color del borde gris */
    color: white; /* Color del texto */
}

.btn-gray:hover {
    background-color: #5a6268; /* Color de fondo gris más oscuro al pasar el ratón */
    border-color: #545b62; /* Color del borde gris más oscuro al pasar el ratón */
}

.btn-azul {
    background-color: $azulFuerte; /* Color de fondo gris */
    border-color: $azulFuerte; /* Color del borde gris */
    color: white; /* Color del texto */
}

.btn-azul:hover {
    background-color:  #00236f78; /* Color de fondo gris más oscuro al pasar el ratón */
    border-color: #00236f78; /* Color del borde gris más oscuro al pasar el ratón */
}

.avatar-sm {
    width: 50px; /* Ajusta el tamaño según tus necesidades */
    height: 50px; /* Ajusta el tamaño según tus necesidades */
    object-fit: cover; /* Asegura que la imagen se ajuste bien al contenedor */
}

.rounded-circle{
    border-radius: 3rem;
}

@media (max-width: 768px) {
    .tarjetas {
        
    }
}